<div class="container">


    <div class="update-form" >
        <!-- {{signUpForm.value | json}} -->
        <h2 class="text-success">Update User</h2>
        <marquee behavior="" direction="">

            <!-- <img src="./../../../assets/images/sign-up.jpg" width="5%" height="5%"> -->
            <span style="color: orangered;">update</span>
        </marquee>
      
        <form [formGroup]="updateForm" (ngSubmit)="updateAUser()">
         
            <div class="form-group">

                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName" class="form-control" 
                formControlName="firstName"
                >
                <div *ngIf="getFirstName().touched && getFirstName().invalid ">

                    <div *ngIf="getFirstName().errors.required">

                        <small class="text-danger">
                          First Name is Required
                        </small>
                    </div>
                    <div *ngIf="getFirstName().errors.pattern">

                        <small class="text-danger">
                       Only Alphabets are Allowed
                        </small>
                        
                    </div>
                </div>
            </div>

               
            <div class="form-group">

                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName" class="form-control" 
                formControlName="lastName">
                <div *ngIf="getLastName().touched && getLastName().invalid ">

                    <div *ngIf="getLastName().errors.required">

                        <small class="text-danger">
                          Last Name is Required
                        </small>

                    </div>
                    <div *ngIf="getLastName().errors.pattern">

                        <small class="text-danger">
                       Only Alphabets are Allowed
                        </small>
                        
                    </div>
                </div>
            </div>
               
            <div class="form-group">

                <label for="email">Email </label>
                <input type="email" name="email" id="email" class="form-control" 
                formControlName="email" readonly>
                <div *ngIf="getEmail().touched && getEmail().invalid ">

                    <div *ngIf="getEmail().errors.required">

                        <small class="text-danger">
                         Email is Required
                        </small>
                    </div>
                    
                    <div *ngIf="getEmail().errors.email">

                        <small class="text-danger">
                       Invalid Email
                        </small>
                    </div>
                </div>
            </div>
               
            <div class="form-group">

                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control"
                formControlName="password" >
                <div *ngIf="getPassword().touched && getPassword().invalid ">

                    <div *ngIf="getPassword().errors.required">

                        <small class="text-danger">
                         Password is Required
                        </small>
                    </div>
                </div>
            </div>
               
            <div class="form-group">

                <label for="profession">Profession</label>
                <input type="text" name="profession" id="profession" class="form-control" 
                formControlName="profession">
                <div *ngIf="getProfession().touched && getProfession().invalid ">

                    <div *ngIf="getProfession().errors.required">

                        <small class="text-danger">
                         Profession is Required
                        </small>
                    </div>
                    <div *ngIf="getProfession().errors.pattern">

                        <small class="text-danger">
                       Only Alphabets are Allowed
                        </small>
                        
                    </div>
                </div>
            </div>

            <div class="form-group">

                <label for="country">Country</label>
                <input type="text" name="country" id="country" class="form-control" 
                formControlName="country"
                >

                <div *ngIf="getCountry().touched && getCountry().invalid ">

                    <div *ngIf="getCountry().errors.required">

                        <small class="text-danger">
                         Country is Required
                        </small>
                    </div>
                    <div *ngIf="getCountry().errors.pattern">

                        <small class="text-danger">
                       Only Alphabets are Allowed
                        </small>
                        
                    </div>
                </div>
            </div>
            <div class="form-group">

                <label for="city">City</label>
                <input type="text" name="city" id="city" class="form-control"
                formControlName="city"
                >
                <div *ngIf="getCity().touched && getCity().invalid ">

                    <div *ngIf="getCity().errors.required">

                        <small class="text-danger">
                         City is Required
                        </small>
                    </div>
                    <div *ngIf="getCity().errors.pattern">

                        <small class="text-danger">
                       Only Alphabets are Allowed
                        </small>
                        
                    </div>
                </div>
            </div>

       
               
          <div class="form-group mt-2">

            <button type="submit"  class="btn btn-success "
            [disabled]="updateForm.invalid"
            >UPDATE</button>
            &nbsp;&nbsp;&nbsp;&nbsp;



            <button type="reset"  class="btn btn-warning ">RESET </button>
          </div>
            
        </form>


    </div>




</div>