
<div class="display-2 container m-5">SERVER IS NOT ACTIVE PLEASE VISIT AGAIN !!!!</div>


<div class="container mt-5" >

    <table class="table table-bordered table-hover table-striped" >
        <thead>
            <tr>
                <th>ID</th>
                <th>FIRST NAME</th>
                <th>lAST NAME</th>
                <th>EMAIL</th>
                <th>PROFESSION</th>
                <th>COUNTRY</th>
                <th>CITY</th>
                <th colspan="2">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of userArr">
           
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.profession}}</td>
            <td>{{user.country}}</td>
            <td>{{user.city}}</td>
            <td><button type="submit" class="btn btn-danger" (click)="onDelete(user.id)">DELETE</button></td>
           
            <td><button type="buuton" class="btn btn-success" (click)="onUpdate(user.id)">UPDATE</button></td>
           
         
        </tr>
    </tbody>
    </table>
 <div class="form-group">
    <button type="submit" class="btn btn-primary" (click)="onAdd()">ADD USER</button>
 </div>


</div>