<div class="container">


    <div class="registartion-form">
        <h2 class="text-success">Sign Up</h2>
        <marquee behavior="" direction="">

            <!-- <img src="./../../../assets/images/sign-up.jpg" width="5%" height="5%"> -->
            <span style="color: orangered;">Sign Up Here</span>
        </marquee>
        <form>
         
            <div class="form-group">

                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName" class="form-control" >
            </div>

               
            <div class="form-group">

                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName" class="form-control" >
            </div>
               
            <div class="form-group">

                <label for="email">Email </label>
                <input type="email" name="email" id="email" class="form-control" >
            </div>
               
            <div class="form-group">

                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" >
            </div>
               
            <div class="form-group">

                <label for="profession">Profession</label>
                <input type="text" name="profession" id="profession" class="form-control" >
            </div>

            <div class="form-group">

                <label for="country">Country</label>
                <input type="text" name="country" id="country" class="form-control" >
            </div>
            <div class="form-group">

                <label for="city">City</label>
                <input type="text" name="city" id="city" class="form-control" >
            </div>
               
          <div class="form-group mt-2">

            <button type="submit"  class="btn btn-success ">SIGN UP</button>
            &nbsp;&nbsp;&nbsp;&nbsp;

            <button type="reset"  class="btn btn-warning ">RESET </button>
          </div>

        </form>


    </div>




</div>